* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
    width: 100vw;
    background-color: rgb(42, 53, 49);
}
.container {
  background-color: antiquewhite;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    border-radius: 5px;
    margin-top: 15px;
  width: 15rem;
  border: 1px solid #ccc;
}
h2{
    text-align: center;
    margin: 9px;
}
h4{
    text-align: center;
    margin: 9px;
    color: red;
}
button{
    border: none;
    background-color: rgb(65, 68, 247);
    color: white; 
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 15px;
    /* width: 150px;
    color: white;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s; */
}
button:hover {
  border: 2px solid rgb(16, 119, 16);
  /* border-color: #646cff; */
}

